#map {
    height: 100%;
    width: 100%
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#search_box-input {
    background-color: #fff;
    font-family: Comic Sans MS; 
    font-size: 30px;
    font-weight: 400;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 600px;
}

#search_box-input:focus {
    border-color: #05265c;
}